<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <button><%= link_to "Home", root_path %></button>
<button>
<%= link_to "New Post", new_post_path %></button>

    <%= yield %>
  </body>
</html>
